  <!-- Navbar -->
    <a id="home">Home</a>
    <a id="about">About</a>
    <a id="encrypt">Encrypt</a>
    <a id="decrypt">Decrypt</a>
    <a id="bruteforce">Brute Force</a>
  </nav>
  <!-- Navbar Close  -->
