<!-- vnav -->
<div class="ciphers">
  <div id="ciphers-cover">
    <div id="additiveDecrypt" class="additive">Additive Cipher</div>
    <div id="multiplicativeDecrypt" class="multiplicative">Multiplicative Cipher</div>
    <div id="autokeyDecrypt" class="autokey">Autokey Cipher</div>
    <div id="rsaDecrypt" class="rsa">RSA Algorithm</div>
    <div id="affineDecrypt" class="affine">Affine Cipher</div>  
  </div>
</div>
<!-- vnav close -->