<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <link rel="stylesheet" href="/css/edb.css">
  <title>Document</title>
</head>
<body>
  <!-- Navbar -->
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn" id="menu-btn">
    <i class="fas fa-bars">

    </i>
  </label>
  <div class="wrapper">
    <ul>
      <div class="underline" style="transform: translate3d(0px, 600%, 0px);">
      </div>
      <div class="underline" style="transform: translate3d(0px, 600%, 0px);">
      </div>
      <div class="underline" style="transform: translate3d(0px, 600%, 0px);">
      </div>
      <li><a id="Vhome">Home</a></li>
      <li><a id="Vabout">About</a></li>
      <li><a id="Vencrypt">Encrypt</a></li>
      <li><a id="Vdecrypt">Decrypt</a></li>
      <li><a id="Vbruteforce">Brute Force</a></li>
      </ul>
  </div>
  <div id="imgBackground"></div>
  <img src="../image/icon.png" id="imgMobile">
  <nav class="full">
    <img src="image/icon.png" id="imgDesktop">
    <div class="underline" style="transform: translate3d(495%, 0px, 0px);">
    </div>
    <div class="underline" style="transform: translate3d(495%, 0px, 0px);">
    </div>
    <div class="underline" style="transform: translate3d(495%, 0px, 0px);">
    </div>
  <%-include("partials/nav")%>
  <!-- Navbar Close -->

  <%-include("partials/vnavBrute")%>
  
  <script src="/js/brute.js"></script>
</body>
</html>