/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset Close */


/* NavBar */
:root {
	--underline-height: .5em;
	--transition-duration : .5s;
}

body {
	font-family: system-ui, sans-serif;
	background: #222222;
}

nav {
	position: relative;
	white-space: nowrap;
	background: white;
	padding: var(--underline-height) 0;
	box-shadow: 0 1em 2em rgba(black, .05);
}

.underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: var(--underline-height);
	width: 14.5%;
	background: black;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform var(--transition-duration) ease-in-out;
}
a {
	display: inline-block;
	z-index: 0;
	width: 13.5%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
  text-decoration: none;
  color: white;
}


nav.full {
	font-weight: bold;
	background: black;
	color: white;
	text-align: center;
	cursor: default;
}
.underline {
  height: 100%;
  background: palegreen;
}
/* Navbar Close */


/* Logo */
#imgDesktop{
	width: 64px;
	height: 64px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
/* Logo close */


/* Responsive */
@media (max-width:600px){

	.underline{
		z-index: 1;
    height: 13.334%;
    bottom: 83%;
    width: 99%;
	}
	#menu-btn{
		display: block;
	}

	nav.full{
		display: none;
	}
	.wrapper{
		display: block;
	}

	#imgBackground{
		height: 64px;
		background: black;
	}

	#imgMobile{
		width: 64px;
		height: 64px;
		position: absolute;
		left: 0;
		top: 0;
		cursor: pointer;
		display: block;
	}

	a{
		width: auto;
	}

}

@media (min-width:600px){
	
	.wrapper{
		display: none;
	}

	#imgBackground{
		display: none;
	}
	#imgMobile{
		display: none;
	}
}
/* Responsive close */

/* Burger */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.wrapper{
  position: fixed;

  height: 100%;
  width: 100%;
  background: #000;
  clip-path: circle(25px at calc(100% - 34px) 34px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
	z-index: 1;

}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 9px;
  top: 9px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
	display: none;
  background: #111;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
/* Burger close */